<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Tytul</title>
    <meta name="description" content="@ViewBag.Opis" />
    <meta name="keywords" content="@ViewBag.SlowaKluczowe" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Agencja pośrednictwa pracy", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@ 
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Oferty pracy
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Lista ofert", "Index", "Ogloszenie")</li>
                            <li>@Html.ActionLink("Lista moich ofert", "MojeOgloszenia", "Ogloszenie")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Wyszukaj po kategorii", "Index", "Kategoria")</li>
                            <li>@Html.ActionLink("Wyszukaj po mieście", "Index", "Miasto")</li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Dodaj ofertę", "Create", "Ogloszenie")</li>
                            }
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            CV
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Lista CV", "Index", "CV")</li>
                            <li>@Html.ActionLink("Moje CV", "MojeCV", "CV")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Wyszukaj po kategorii", "Index", "Kategoria")</li>
                            <li>@Html.ActionLink("Wyszukaj po mieście", "Index", "Kategoria")</li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Dodaj CV", "Create", "Ogloszenie")</li>
                            }
                        </ul>
                    </li>

                    @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin")))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Administracja
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Dodaj miasto", "Dodaj", "Miasto")</li>
                                <li>@Html.ActionLink("Dodaj kategorię", "Dodaj", "Kategoria")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Usuń miasto", "Delete", "Miasto")</li>
                                <li>@Html.ActionLink("Usuń kategorię", "Delete", "Kategoria")</li>
                            </ul>
                        </li>
                    }

                    <li>@Html.ActionLink("Wiadomości", "Index", "Wiadomosc")</li>

                    <li>@Html.ActionLink("Jak stworzyć własne CV", "StworzCV", "CV", null, new { @style = "color: lightskyblue;" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - JobProfit Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
