@model PagedList.IPagedList<Repozytorium.Models.Views.KategoriaCVViewModel>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Kategorie ofert pracy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kategorie CV</h2>


<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nazwa", "Index", new { sortOrder = ViewBag.NazwaSort })
        </th>
        <th>
            @Html.ActionLink("Opis kategorii", "Index", new { sortOrder = ViewBag.OpisSort })
        </th>
        <th>
            @Html.ActionLink("Ilość ofert", "Index", new { sortOrder = ViewBag.IloscOfertSort })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.LiczbaOfert == 0)
                {
                    @Html.ActionLink(item.Nazwa, null)
                }
                else
                {
                    @Html.ActionLink(item.Nazwa, "PokazCV", new { id = item.Id })
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LiczbaOfert)
            </td>
            <td style="">
                @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Pracownik")))
                {
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                    if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                    }
                }
            </td>
        </tr>
    }

</table>

<div>
    <br />
    Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("IndexCV", new { page, sortOrder = ViewBag.CurrentSort }))
</div>
