@model PagedList.IPagedList<Repozytorium.Models.Kategoria>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Kategorie ofert pracy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kategorie ofert pracy</h2>


<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nazwa", "Index", new { sortOrder = ViewBag.Nazwa })
        </th>
        <th>
            @Html.ActionLink("Opis kategorii", "Index", new { sortOrder = ViewBag.Opis })
        </th>
        <th>
            @Html.ActionLink("Ilość ofert", "Index", new { sortOrder = ViewBag.IloscOfert })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Nazwa, "PokazOgloszenia", new { id = item.Id})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetaOpis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentId)
        </td>
        <td style="">
            @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Pracownik")))
            {
                @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                }
            }

        </td>

    </tr>
}

</table>

<div>
    <br />
    Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort }))
</div>
