@model PagedList.IPagedList<Repozytorium.Models.Views.CVZKategoriiViewModels>
@using PagedList.Mvc
@{
  ViewBag.Tytul = "CV z kategorii " + Model.First().NazwaKategorii;
}

<h2>CV z kategorii: @Model.First().NazwaKategorii</h2>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Id", "PokazCV", new { sortOrder = ViewBag.IdOgloszenia })
        </th>
        <th style="width:400px">
            @Html.ActionLink("Tytuł", "PokazCV", new { sortOrder = ViewBag.TytulSort })
        </th>
        <th style="width:150px">
            @Html.ActionLink("Imie i nazwisko", "PokazCV", new { sortOrder = ViewBag.Imie })
        </th>
        <th>
            @Html.ActionLink("Miasto", "PokazCV", new { sortOrder = ViewBag.MiastoSort })
        </th>
        <th style="width:110px">
            @Html.ActionLink("Data dodania", "PokazCV", new { sortOrder = ViewBag.DataDodaniaSort })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tytul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miasto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetFormattedDateAdd)
            </td>
            <td width="250px;">
                @Html.ActionLink("Szczegóły", "Details", new { id = item.IdCV }, new { @class = "btn btn-warning" })
                @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Pracownik")))
                {
                    @Html.ActionLink("Edytuj", "Edit", "CV", new { id = item.IdCV }, new { @class = "btn btn-primary" })
                    if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Usuń", "Delete", new { id = item.IdCV }, new { @class = "btn btn-danger" })
                    }
                }

            </td>

        </tr>
    }
</table>
<div>
    <br />
    Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("PokazCV", new { page, sortOrder = ViewBag.CurrentSort }))
</div>
